#artistsList li.addingArtist {
    height: auto;
    padding: 2rem 5vw;
    background-color: white;
}

.uploadedIconSection, .uploadedImgSection {
    width: 48%;
    height: calc(100% - 4rem);
    float: left;
    margin: 0 1% 2rem 1%;
    padding: 1rem;
    text-align: center;
    background: white;
    border-radius: 0.5rem;
}

.iconShape {
    width: 100% - 4rem;
    height: 0;
    margin: 2rem;
    overflow: hidden;
    padding-top: calc(100% - 4rem);
    border-radius: 100%;
    background: white;
    position: relative;
}

.iconShape > .uploadedIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uploadedImg {
    width: 40%;
    height: auto;
    margin: 5%;
    border-radius: 0.15rem;
}

.noImgSpan {
    margin: 2rem 2rem;
    font-size: 1rem;
}

.fileInputWrapper, .fileIconInputWrapper {
    height: 2rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.15rem;
}
.fileInputWrapper:hover, .fileInputWrapper input[type="file"]:hover, .fileInputWrapper .btnImgFile:hover,
.fileIconInputWrapper:hover, .fileIconInputWrapper input[type="file"]:hover, .fileIconInputWrapper .btnImgFile:hover {
    cursor: pointer;
}
.fileInputWrapper > input[type="file"], .fileIconInputWrapper > input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.fileInputWrapper > .btnImgFile, .fileIconInputWrapper > .btnImgFile {
    display: inline-block;
    width: 100%;
    height: 2rem;
    font-size: 1rem;;
    padding: 0.2rem;
    border: none;
    background: #f8c3f8;
}
.fileInputWrapper:hover > .btnImgFile, .fileIconInputWrapper:hover > .btnImgFile {
    background-color: #e68ce6;
}